<md-dialog aria-label='add opinion' style='width:100%; height:100%'>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>הוספת חוות דעת</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        aaa
    </md-dialog-content>
    <md-dialog-actions layout="row">
    </md-dialog-actions>
</md-dialog>