<link rel="stylesheet" href="/views/homepage/style.css">

<div layout="row" class="zero homepage-container">
    <div class="content" layout="row" layout-sm="column" layout-xs="column">
        <div flex="65" flex-offset="3" flex-sm="100" flex-sm-offset="0">
            <md-card class="carbon">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">בונים באהבה</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        הכל התחיל בשנת 2000, בה התחלנו לעסוק בעיקר בעבודות עפר ופיתוח. מאז - התאהבנו בבניין. החברה כוללת : 25 עובדים קבועים ללא קבלני
                        משנה (פרט ליועצים חיצוניים) מפקחי בנייה, מנהלי עבודה, חשמלאי מוסמך, אינסטלטור, רצפים, אנשי גבס וצבע
                        - הכל תחת שם אחד.<br> אנחנו מציעים מגוון רחב של שירותים : שירות של משרד אדריכלים שמלווה אותנו ונותן שירותי
                        אדריכלות וכמובן קונסטרקטור במידת הצורך. ייבוא אישי מאיטליה לפי דרישת הלקוח ועד 40% הוזלה מהמחיר של
                        קנייה בארץ אצל היבואן במילאנו, עבודה מול אדריכל ידוע איתו אנחנו מתאימים עם הלקוח את הסטיילינג
                        של הבית. בעלי נסיון של 15 שנה בשיפוץ דירות, ביניינים ווילות עם קהל לקוחות פרטי מאוד מגוון מראשון
                        לציון ועד קיסריה. יוסף סטיון (מנכ"ל החברה) קבלן רשום וחבר התאחדות קבלני השיפוצים - קבלן מורשה בגבס
                        של מכון התקנים.

                    </p>
                </md-card-content>
            </md-card>
        </div>
        <div flex="35" flex-offset="17" flex-offset="3" flex-sm="100" flex-sm-offset="0">
            <md-card class="carbon">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">צור קשר</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <center>
                        <p>
                            <div style='font-size:1.2em'>מנכ"ל - יוסף סטיון</div><br> s0527418555@gmail.com | 0527418555<br> טל' 03-5255209 | פקס 03-7621467<br>                            רח' 2380/4 דירה 244 מגדלי בלו, ת"א
                        </p>
                    </center>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>