<link rel="stylesheet" href="/views/homepage/style.css">

<div layout="row" class="zero homepage-container">
    <div class="content" layout="row" layout-sm="column" layout-xs="column"> 
        <div flex="40" flex-offset="3" flex-sm="100" flex-sm-offset="0">
            <md-card class="carbon">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">בונים באהבה</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.
                    </p>
                </md-card-content>
            </md-card>
        </div>
        <div flex="40" flex-offset="17" flex-offset="3" flex-sm="100" flex-sm-offset="0">
            <md-card class="carbon">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">צור קשר</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.
                    </p>
                </md-card-content>            
            </md-card>
        </div>
    </div>
    <!--<md-card flex="70" flex-sm="100" flex-xs="100" class="latest-works">
        <div class="highlight">
            <div class="title">That's our latest work</div>
        </div>
    </md-card>
    <div flex="30" flex-sm="100" flex-xs="100"
         layout="column" layout-sm="row" layout-xs="row">
        <md-card flex="65" class="carbon">
            <md-card-content>123</md-card-content>
        </md-card>
        <md-card flex="35" class="blue">
            <md-card-title>Contact</md-card-title>
            <md-card-content>This is a phone number</md-card-content>
        </md-card>
    </div>-->
</div>