body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  direction: rtl;
  background-color: #fafafa;
  width: 100%;
}

i.material-icons {
  font-size: 36px;
}

.md-mini i.material-icons {
  font-size:24px;
}

body > div.main-content {
  margin: 0 auto;
  margin-top: 70px;
}

div.main-navbar {
  background: #90afce;
  color: black;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
  z-index: 999999;
}

div.main-navbar .body {
  width: 96%;
  margin: 0 auto;
  display: flex;
}

div.main-navbar .logo {
  flex: 1;
  width: 15%;
}

div.main-navbar .logo img {
  height: 70px;
}

div.main-navbar ul.links {
  list-style: none;
  flex: 1;
  width: 80%;
  text-align: left;
}

div.main-navbar ul.links li {
  display: inline-block;  
  padding: 1.5% 3% 1.5% 3%;
  background-color: inherit;
  cursor: pointer;
}

div.main-navbar ul.links li.selected,
div.main-navbar ul.links li:hover {
  background-color: #809cb9;
  color: #072c52;
}

div.main-navbar ul.links li:hover {
  animation-name: nav-item-hover;
  animation-duration: 0.5s;
}

div.main-navbar ul.links li:focus {
  outline: none;
}

@keyframes nav-item-hover {
  from {background-color: inherit; color: black;}
  to {background-color: #809cb9; color: #072c52;}
}

div.main-navbar ul.links li a {
  text-decoration: none!important;
  color: inherit;
  font-family: gisha;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }