#view {
    margin: 80px 15% 0 15%;
}

#gallery {
    margin-top: 3px;
    text-align: center;
}

#gallery .masonry-brick {
    margin: 1px;
    /*min-width: 215px;
    max-width: 215px;*/
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    border: 2px solid red;
}