<link rel="stylesheet" href="/views/work-view/style.css">

<div id="view">
    <md-card style="margin:0; background-color:#eceff1">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{work.title}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            {{work.description}}
            <md-card-actions layout="row" style="margin:0;" layout-align="end center">
                <md-button  class="md-fab md-mini" 
                            ng-repeat="btn in actions" 
                            ng-click="btn.func()"
                            style="background-color: {{btn.bgcolor}}; margin-right:2px">
                    <i class="material-icons">{{btn.iconName}}</i>
                </md-button>
            </md-card-actions>
        </md-card-content>
    </md-card>
    <div id="gallery" masonry>
        <img class="masonry-brick" 
            ng-repeat="image in work.pictures" 
            ng-src="/api/gallery/{{work.title}}/{{image.picPath}}"
            style="height: {{image.height}}px">
            <!--<img class="repeated-img masonry-brick" ng-repeat="image in images" ng-src="http://placehold.it/225x{{image.height}}/{{image.color.bg}}/{{image.color.text}}&text={{image.num}}" />-->
    </div>
</div>