<md-content>
    <div layout="row">
        <div flex "120">
            <md-card>
                <md-toolbar layout="row" class="md-hue-3">
                    <div class="md-toolbar-tools">
                        <span style='font-family: gisha'>חוות דעת</span>
</div>
<md-button layout='center-start' class='md-icon-button' aria-label='הוספה'>
    <i class="material-icons">add</i>
</md-button>
</md-toolbar>
<md-list flex>
    <md-list-item class="md-3-line" ng-repeat="item in todos" ng-click="null">
        <img ng-src="{{item.face}}" class="md-avatar" style='margin-left: 5px;' />
<div class="md-list-item-text" layout="column">
    <h3 layout='center-end'>{{ item.who }}</h3>
    <h4 layout='center-end'>{{ item.what }}</h4>
    <p layout='center-end'>{{ item.notes }}</p>
</div>
</md-list-item>
</md-list>
</md-card>
</div>
<md-divider vertical></md-divider>
<div flex='60'>
    <md-card>gallery</md-card>
</div>
</div>
</md-content>