<link rel="stylesheet" href="/views/works/style.css" />

<div id="works-page" layout="row">
    <md-card class="work" flex="25" ng-repeat="work in works">
        <img ng-src="/api/gallery/{{work.title}}/{{work.pictures[0].picPath}}" class="md-card-image">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{work.title}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            {{work.description}}
        </md-card-content>
    </md-card>
</div>